* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.header-title-icon{
    margin-right: 7px;
    height: 30px;
    width: 30px;
    background-position-y: 100%;
    vertical-align: middle;
    background-image: url(../img/favicon.png);
}
.margin-top-block {
    margin-top: 96px;
}
.sidebar-wrap {
    margin-top: -20px;
}
.nav-item{
    padding: 0 1rem 0 1rem;
    transition: all .2s;
}
.nav-item .nav-link {
    color: #fff;
}
.nav-item:hover {
    background: #ffffff25;
}
.active {
    background-color: #ffffff35;
}
.record-item {
    white-space: nowrap;
}
@media (max-width: 502px) {
    .header-title h3{
        font-size: 14px;
    }
}

.history-select {
    font-size: 1.75rem!important;
    font-weight: 700!important;
    outline: 0;
    padding-bottom: 2px;
    padding-top: 0;

}
/* .history-select option {
    padding: 5px;
} */